body {
	font-family: "Open Sans", "Roboto", "-apple-system", "BlinkMacSystemFont",
		"Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", "sans-serif";
	margin: 0;
	padding: 0;
}

.main {
	background-color: #f6f9fc;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

a {
	text-decoration: none;
}